<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
    <input type="hidden" th:value="${movie_id}" id="movie_id">
    <img th:src="${movie.backdrop_path}" alt="" style="width: 100%;">
    <img th:src="${movie.poster_path}" alt="">
    <h1 th:text="${movie.title}"></h1>
    <h2 th:text="${movie.tagline}"></h2>
    <h3>줄거리</h3>
    <h4 th:text="${movie.overview}"></h4>

    <button class="keword" type="button">액션쩜</button>
    <button class="keword" type="button">미친스릴러</button>
    <button class="keword" type="button">넘야행</button>

    <table th:border="1" style="width: 400px;" id="actortable">
    </table>
</body>
<script>
    $.ajax({
        type: "POST",
        url: "/ActorList",
        dataType : 'json',
        data: {
            movie_id : $('#movie_id').val()
        },
        success: function(data) {
            // Clear the existing content in the tbody
            $('#actortable').empty();

            // Iterate through the received data and add rows to the tbody
            $.each(data, function (index, actor) {
                var actor_name = actor.actor_name;
                var character = actor.character;
                var profile_path = actor.profile_path;

                // Create a new row and append it to the tbody
                var newRow = $('<tr><td>'+actor_name+'</td><td rowspan="2" ><img src="'+profile_path+'" style="width: 30%;"></td></tr><tr><td>'+character+'</td></tr>');
                $('#actortable').append(newRow);
            });
        },
        error: function(xhr, status, error) {
            console.log("Status: " + status);
            console.log("Error: " + error);
        }
    });

    $('.keword').click(function (){

        $.ajax({
            type: "POST",
            url: "/kewordInsert",
            dataType : 'text',
            data: {
                movieid : $('#movie_id').val(),
                word : $(this).text()
            },
            success: function(data) {
                $.ajax({
                    type: "POST",
                    url: "/listByMovieID",
                    dataType : 'json',
                    data: {
                        movieID : $('#movie_id').val()
                    },
                    success: function(data) {
                        $.each(data, function (index, keword) {
                            alert(keword.word);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log("Status: " + status);
                        console.log("Error: " + error);
                    }
                });
            },
            error: function(xhr, status, error) {
                console.log("Status: " + status);
                console.log("Error: " + error);
            }
        });
    });
</script>
</html>